.base {
  .logo {
    height: 32px;
    margin: 16px;
  }
  .avatar:hover {
    cursor: pointer;
  }
  .name-tag {
    float: left;
    margin-top: 5px;
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 15px;
  }
}

.public {
  min-height: 100vh;
  .logo {
    width: 120px;
    height: 31px;
    margin: 10px 24px 16px -20px;
    float: left;
  }
}
