.base {
  .logo {
    height: 32px;
    margin: 16px;
  }
  .avatar:hover {
    cursor: pointer;
  }
  .name-tag {
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 15px;
    padding: 5px 8px;
    border-radius: 15px;
  }
}

.public {
  min-height: 100vh;
  .logo {
    width: 180px;
    height: 31px;
    margin: 10px 24px 16px -20px;
    float: left;
  }
}
